<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Seo Meta -->
    <meta name="description" content="DiversionDj - WebSite Oficial ">
    <meta name="keywords" content="remix, music, dj, dark, party, html5">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")bootstrap/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")bootstrap/css/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")style.css" id="dark" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")js/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")styles/icons/icons.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/MyTemplate/")images/favicon.ico">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/MyTemplate/")images/apple-touch-icon.png">

    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/theme20.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/ttw-music-player-min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")music/myplaylist.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/countdown.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/custom.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/bootbox.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.stapel.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.bpopup.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/pnotify.custom.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.easy-autocomplete.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var tpj = jQuery;
        tpj.noConflict();
        tpj(document).ready(function () {
            if (tpj.fn.cssOriginal != undefined)
                tpj.fn.css = tpj.fn.cssOriginal;
            var api = tpj('.revolution').revolution({
                delay: 9000,
                startheight: 380,
                startwidth: 960,
                hideThumbs: 200,
                thumbWidth: 80,
                thumbHeight: 50,
                thumbAmount: 5,
                navigationType: "none",
                navigationArrows: "verticalcentered",
                navigationStyle: "square",
                touchenabled: "on",
                onHoverStop: "on",
                navOffsetHorizontal: 0,
                navOffsetVertical: 20,
                shadow: 0
            });
            tpj("#event1").countdown({
                date: "03 July 2016 10:59:59",
                format: "on"
            },
			function () {
			    // callback function
			});
        });
        /* ]]> */
    </script>

</head>
<body id="fluidGridSystem">
    <div id="layout" class="full">
        <!-- popup login -->
        <div id="popupLogin">
            <div class="def-block widget">
                <h4> Login </h4><span class="liner"></span>
                <div class="widget-content row-fluid">
                    <form id="popup_login_form">
                        <input type="text" name="login_username" id="login_username" onfocus="if (this.value=='username') this.value = '';" onblur="if (this.value=='') this.value = 'Usuario';" value="Usuario" placeholder="Usuario">
                        <input type="password" name="login_password" id="login_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="Password">
                        <a href="#" class="tbutton small" id="IngresarLogin"><span>Iniciar Sesión</span></a>
                        <a href="#" class="tbutton color2 small"><span>Registrarse</span></a>
                    </form><!-- login form -->
                </div><!-- content -->
            </div><!-- widget -->
            <div id="popupLoginClose">x</div>
        </div><!-- popup login -->
        <div id="LoginBackgroundPopup"></div>
        <!-- popup login -->
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#IngresarLogin').click(function (e) {
                    e.preventDefault(); //Para que no se vaya al link
                    jQuery.ajax({
                        url: '@Url.Content("~/Home/checkLogin")',
                        type: 'POST',
                        data: { usuario: jQuery('#login_username').val(), password: jQuery('#login_password').val() }
                    }).done(function (json) {
                    });
                });
            });


        </script>
        <header id="header" class="glue">
            <div class="row clearfix">
                <div class="little-head">
                    <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Iniciar Sesión</span></div>

                    <div class="social social-head">
                        <a href="https://twitter.com/diversiondj" class="bottomtip" title="Sigueme en Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/Diversion-Dj-81993277783/" class="bottomtip" title="Like Facebook" target="_blank"><i class="icon-facebook"></i></a>
                        <a href="https://plus.google.com/" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                        <a href="https://www.instagram.com/diversiondj/" class="bottomtip" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="https://soundcloud.com/diversiondj" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                        <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                    </div><!-- end social -->

                    <div class="search">
                        <form action="search.html" id="search" method="get">
                            <input id="inputhead" name="search" type="text" onfocus="if (this.value == 'Empezar a buscar...') this.value = '';" onblur="    if (this.value == '') this.value = 'Empezar a buscar...';" value="Empezar a buscar..." placeholder="Empezar a buscar...">
                            <button type="submit"><i class="icon-search"></i></button>
                        </form><!-- end form -->
                    </div><!-- search -->
                </div><!-- little head -->
            </div><!-- row -->

            <div class="headdown">
                <div class="row clearfix">
                    <div class="logo bottomtip" title="Diversion Dj">
                        <a href="#"><img src="@Url.Content("~/Content/MyTemplate/")images/logo.png" alt="DiversionDj"></a>
                    </div><!-- end logo -->

                    <nav>
                        <ul class="sf-menu">
                            <li class="current selectedLava">
                                <a href=@Url.Content("~/Home/Index")>Home<span class="sub">Comienza aquí</span></a>
                                <ul>
                                    <li><a href=@Url.Content("~/Home/Musica")>Noticias</a></li>
                                    <li><a href=@Url.Content("~/Home/Musica")>Eventos</a></li>
                                    <li><a href=@Url.Content("~/Home/Musica")>Acerca de mi</a></li>
                                </ul>
                            </li>

                            <li><a href=@Url.Content("~/Home/Musica")>Musica<span class="sub">Escuchame</span></a></li>
                            <li><a href=@Url.Content("~/Home/Videos")>Video<span class="sub">Algunos demos</span></a></li>
                            <li>
                                <a href=@Url.Content("~/Home/Galeria")>Galeria<span class="sub">Galeria de Fotos</span></a>
                                <ul>
                                    <li><a href=@Url.Content("~/Home/Galeria")>Galeria</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Contacto<span class="sub">Arma tu Fiesta</span></a>
                                <ul>
                                    <li><a href=@Url.Content("~/Home/Contacto")>Envia tu Consulta</a></li>
                                    <li><a href=@Url.Content("~/Home/ArmarLista")>Crea tu lista</a></li>
                                    <li><a href=@Url.Content("~/Home/Musica")>Foro</a></li>

                                </ul>
                            </li>
                        </ul><!-- end menu -->
                    </nav><!-- end nav -->
                </div><!-- row -->
            </div><!-- headdown -->
        </header><!-- end header -->
        @RenderBody()
        <footer id="footer">
            <div class="footer-last">
                <div class="row clearfix">
                    <span class="copyright">© 2016 by DiversionDj. All Rights Reserved.</span>
                    <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
                    <div class="foot-menu">
                        <ul>
                            <li><a href="@Url.Content("~/Home/Index")">Home</a></li>
                            <li><a href=@Url.Content("~/Home/Musica")>Música</a></li>
                            <li><a href="@Url.Content("~/Home/Videos")">Video</a></li>
                            <li><a href=@Url.Content("~/Home/Galeria")>Galeria</a></li>
                            <li><a href=@Url.Content("~/Home/Contacto")>Contacto</a></li>
                        </ul><!-- end links -->
                    </div><!-- end foot menu -->
                </div><!-- row -->
            </div><!-- end last -->

        </footer><!-- end footer -->
    </div>
</body>
</html>
