
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <div class="under_header">
   
    </div><!-- under header -->

    <div class="page-content back_to_up">
       
      
        <div class="page-content back_to_up">
            <div class="row clearfix mb">
                <div class="breadcrumbIn">
                    <ul>
                        <li><a href="index.html" class="toptip" original-title="Homepage"> <i class="icon-home"></i> </a></li>
                        <li> Gallery 2 Column </li>
                    </ul>
                </div><!-- breadcrumbIn -->
            </div><!-- row -->

            <div class="row row-fluid clearfix mbf">
                <div class="posts">
                    <div class="def-block" style="min-height: 400px;">

                        <div class="topbar">
                            <div id="close" class="tbutton small tback"><span>< Back to Albums</span></div>
                            <h4 id="name">Photo Gallery</h4><span class="liner"></span>
                        </div>

                        <ul id="tp-grid" class="tp-grid">


                            <!-- Summer Bash In CA -->
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/1.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/1.jpg" alt="#1" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/2.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/2.jpg" alt="#2" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/3.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/3.jpg" alt="#3" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/4.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/4.jpg" alt="#4" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/5.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/5.jpg" alt="#5" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/6.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/6.jpg" alt="#6" /></a></li>
                            <li data-pile="Summer Bash In CA" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/7.jpg" data-gal="photo[Summer Bash In CA]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/7.jpg" alt="#7" /></a></li>

                            <!-- San Francisco Party -->
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/8.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/8.jpg" alt="#8" /></a></li>
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/9.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/9.jpg" alt="#9" /></a></li>
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/10.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/10.jpg" alt="#10" /></a></li>
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/11.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/11.jpg" alt="#11" /></a></li>
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/12.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/12.jpg" alt="#12" /></a></li>
                            <li data-pile="San Francisco Party" class="grid_6"><a href="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/13.jpg" data-gal="photo[San Francisco Party]"><img src="@Url.Content("~/Content/MyTemplate/")images/assets/gallery/13.jpg" alt="#13" /></a></li>


                        </ul>

                    </div><!-- def block -->
                </div><!-- posts -->

            </div><!-- row clearfix -->
        </div><!-- end page content -->

    </div>


